fastapi
uvicorn[standard]
langchain
langgraph
langchain-community
langchain-openai
chromadb
pypdf
youtube-transcript-api
PyGithub
google-api-python-client
google-auth-oauthlib
python-dotenv
pydantic-settings
